body{
    background-color: black;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-radius: 0% 0% 10px 10px;
}
.logo img {
    height: 40px;
    scale: 4;
    margin: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar .nav-links li {
    display: inline;
}
.nav-links li a:hover {
    color: #e8720b;
    text-decoration: underline;
}
.nav-links li a:active {
    color: #ff0000;
}